# CLion config
.idea/

# CMake
cmake-build-*/

# Android
android/app/.cxx
android/app/build
android/.gradle
android/local.properties
android/keystore.properties
android/app/src/main/java/org/libsdl/app/*.java

# Python scripts
.venv/
