name: macOS

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        include:
          - arch: x86_64
          - arch: arm64

    steps:
      - uses: actions/checkout@v5

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_OSX_ARCHITECTURES="${{ matrix.arch }}"

      - name: Build
        run: cmake --build build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: chirp3d-macos-${{ matrix.arch }}
          path: ${{runner.workspace}}/chirp3d/build/chirp3d.app
