name: macOS

on: [ push, pull_request ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v5

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"

      - name: Build
        run: cmake --build build

      - name: Install
        run: cmake --install build --prefix dist

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: chirp3d-macos-arm64
          path: ${{runner.workspace}}/dist
